qdrant-client
langchain-qdrant
requests
lxml
beautifulsoup4
nltk
rank-bm25
sentence-transformers
faiss-cpu
numpy
pandas
tqdm
python-dotenv
anthropic
langchain
langchain-community
langgraph
groq
logfire
openai
langchain-openai
langchain-groq
langchain-anthropic
langchain-google-genai